/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=- STYLES DESIGNED AND BUILT BY IRENE RIVERA -=-=
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Nav */
.bg-light {

  background-image: linear-gradient(#B2C6B2 10%, #FBFBFB 70%);
  background-size: 130% 130%;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .05)
}



li.nav-item {
  font-family: 'Heebo', sans-serif;
  font-size: 2.75rem;
}

a.nav-link {
  font-size: 1.75rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  color: black;

}

a.shopping-cart {
  font-size: 1.75rem;
  color: black;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  font-size: 1.75rem;
}


/*underline hover*/

li>a:after {
  content: '';
  display: block;
  height: 2.5px;
  background: #FF6220;
  transform: scaleX(0);
  transition: transform .3s;

}

li>a:hover:after {
  transform: scaleX(1);
  transition: transform .3s;
}



.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 2.25;
  font-size: 9rem;
  /* height: auto; */
  z-index: 40;
  -webkit-box-align: center;
  /* display: flex; */
  top: 0;
  right: 0;
  bottom: 0;
}


.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;

}

.navbar-toggler span {
  display: block;
  background-color: rgb(27, 27, 27);
  height: 3px;
  width: 25px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  right: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -moz-transition: transform .35s ease-in-out;
  -o-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  right: 29px;
  top: 23px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 4vh;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  right: 29px;
  top: 23px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/* JUMBOTRON*/


.jumbotron {
  background-size: cover;
  background-position: center;
  padding-top: 30%;
  padding-bottom: 20%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
}


h1.jum-head {
  font-family: 'DM Serif Display', serif;
  font-weight: bold;
  color: black;
  font-size: 3.75rem;
  font-kerning: auto;
}

/*button*/

.content {
  padding: 50px;
  text-align: center;
}

a.btn-semi {
  font-size: 2.75rem;
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  font-style: italic;
  font-kerning: auto;


}

.btn-semi:hover {
  color: #ff4c00;
  transition: color 0.2s 0.2s;
}

.btn-semi:after {
  content: "";
  width: 0;
  height: 7px;
  position: absolute;
  right: 0;
  bottom: -15px;
  background: #FF6220;
  transition: width 0.2s;
}

.btn-semi:before {
  content: "";
  width: 0;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background: #FF6220;
  width: 25%;
  transition: width .2s .2s;

}

.btn-semi:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.btn-semi:hover:after {
  width: 100%;
  transition: width 0.2s 0.2s ease-in-out;
}

/*footer*/

footer.page-footer {

  background: linear-gradient(0deg, rgba(178, 198, 178, 1) 0%, rgba(251, 251, 251, 1) 100%);
  background-size: 130% 130%;
  padding-top: 5vh;
}

button.btn.btn-sm {
  background-color: #FF6220;
  font-family: 'Heebo';
  font-weight: 500;
  color: black;
}

h5.heading-footer {
  font-family: 'Heebo';
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: left;
}

p.newsletter-copy {
  font-family: 'Heebo';
  color: black;
  text-align: left;
}

h5.logo {
  font-family: 'DM Serif Display', serif;
  font-size: 2.5rem;
  color: black;
  text-align: left;
}

.footer-copyright {
  color: black;
}


/* Carousel */

.product-carousel {
  padding-top: 12rem;
}

#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#myCarousel h4 {
  font-size: 2.5rem;
  font-family: 'DM Serif Display', serif;
  color: black;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

#myCarousel p {
  font-size: 1.55rem;
  margin-bottom: 15px;
  color: black;
  padding-left: 1rem;
  font-family: 'Heebo', sans-serif;
  margin-top: 1rem;
}

#myCarousel .carousel-item a {
  background: #34558b;
  font-size: 14px;
  color: #FFF;
  padding: 13px 32px;
  display: inline-block;
}

#myCarousel .carousel-item a:hover {
  background: #34558B;
  text-decoration: none;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}

#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#myCarousel .container {
  max-width: 1430px;
}

#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}

#myCarousel {
  position: relative;
  z-index: 1;
  background-color: #ffe373;
  background-image: linear-gradient(#E5DAD0 10%, #FBFBFB 70%);
  background-size: 130% 130%;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: #FF6220;
}


.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}

@supports (transform-style:preserve-3d) {

  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* PRODUCT CATEGORIES*/

div#nav-tab.nav.nav-tabs {
  border-bottom: 0;
  border: 0;
  background-color: #B2C6B2;
}

a#nav-contact-tab.nav-item.nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 2rem;

}

a#nav-contact-tab.nav-item.nav-link.active {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 2.25rem;


}

/*--Featurette IMG Hover--*/
.img-hover img {
  -webkit-transition: all .3s ease;
  /* Safari and Chrome */
  -moz-transition: all .3s ease;
  /* Firefox */
  -o-transition: all .3s ease;
  /* IE 9 */
  -ms-transition: all .3s ease;
  /* Opera */
  transition: all .3s ease;
  position: relative;
}

.img-hover img:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.20);
  /* Safari and Chrome */
  -moz-transform: scale(1.20);
  /* Firefox */
  -ms-transform: scale(1.20);
  /* IE 9 */
  -o-transform: translatZ(0) scale(1.20);
  /* Opera */
  transform: translatZ(0) scale(1.20);
}

.img-hover:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%);
}

/*--PRODUCT STYLES--*/

div.container-fluid {
  padding-top: 12vh;
  padding-bottom: 20vh;

}

h1.text-center.py-3 {
  font-family: 'Heebo', sans-serif;
}

.block {
  font-size: 17px;
  margin-top: 5%;
  font-family: 'Heebo', sans-serif;
}



/*TEXT STYLE*/

div.col-4 {
  font-family: 'DM Serif Display', serif;
  font-size: 1.95rem;
}


/*BUTTON PRODUCT STYLE*/
.button-content {
  padding: 20px;
  text-align: center;
}

a.btn-copy {
  font-size: 2rem;
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
  font-style: italic;
  font-kerning: auto;


}

.btn-copy:hover {
  color: #ff4c00;
  transition: color 0.2s 0.2s;
}

.btn-copy:after {
  content: "";
  width: 0;
  height: 7px;
  position: absolute;
  right: 0;
  bottom: -15px;
  background: #FF6220;
  transition: width 0.2s;
}

.btn-copy:before {
  content: "";
  width: 0;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background: #FF6220;
  width: 25%;
  transition: width .2s .2s;

}

.btn-copy:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}

.btn-copy:hover:after {
  width: 100%;
  transition: width 0.2s 0.2s ease-in-out;
}







a#nav-home-tab.nav-item.nav-link.active {
  background-color: white;
  border-color: transparent;
  font-size: 2.25rem;
  font-weight: 500;
  font-size: 2.25rem;


}

a#nav-profile-tab.nav-item.nav-link.active {
  background-color: white;
  border-color: transparent;
  font-weight: 500;
  font-size: 2.25rem;

}

a#nav-profile-tab.nav-item.nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 2rem;

}

a#nav-home-tab.nav-item.nav-link {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 2rem;

}

/*PRODUCT CARD STYLES*/

h1.text-center.py-5 {
  font-family: 'DM Serif Display', serif;

}

button.btn {
  border-top: none;
}

button#carouselControl.btn.btn-md.col-12.addcart.add-to-cart {

  background-color: none;
  border-bottom: 1px solid #FF6220;
  border-bottom-width: thick;
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: 2.15rem;
  font-style: italic;


}

button#carouselControl.btn.btn-md.col-12.addcart.add-to-cart:hover {
  background-color: white;
  color: #ff4c00;
  transition: color 0.2s 0.2s;

}

button#carouselControl.btn.btn-md.col-12.addcart.add-to-cart:focus {
  box-shadow: none;
  transition: color 0.2s 0.2s;


}